.footer {
    background-color:#F6F7FB;
    padding: 10px;
    text-align: center;
    margin-top: auto;
    color: #333;
}

.infoEmpresa {
    text-align: center;
    margin-bottom: 30px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    padding-bottom: 20px;
}

.contenedorTarjetas {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
}

.tarjeta {
    background-color: white;
    color: #333;
    padding: 20px;
    border-radius: 15px;
    width: 250px;
    text-align: center;
    box-shadow: 0 4px 10px rgba(0,0,0,0.3);
}

.avatar {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 15px;
    border: 3px solid #ff69b4;
}