.layoutContainer {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #ccfbf4;
}

.header {
    background-color: #F6F7FB;
    padding: 10px;
    text-align: center;
    color: #4a448f;
}

.header h1 {
    font-size: 2em;
    color: #7904bd;
}


.mainContent {
    padding: 40px;
    flex-grow: 1;
}

.nav,
.link-activo {
    color: #ff69b4 !important;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav a {
    color: #cb56f9;
    margin: 0 15px;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.1rem;
}

.nav a:hover {
    color: #ffffff;
}

.destacados {
    color: #860242ae;
    text-align: center;
    margin-bottom: 20px;
    font-size: 1.5rem;
}

.logo-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.logo-img {
    width: 50px;
    height: auto;
    object-fit: contain;
}